/* fonts style  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* common style  */
body{
    font-family: 'Poppings', sans-serif;
    background: white;
}
/* heading  */
nav{
    margin: 87px 120px 50px 120px;
    display: flex;
    justify-content: space-between;
}
nav h1{
    font-size: 24px;
    font-weight: 700;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    margin-left: 34px;
    font-weight: 600;
    font-size: 16px;
    

}

 /* heading end  */
main{
    
 
    background-color: white;
    margin: 0 120px;
}



.first_conatiner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    

}
.half_width{
    width: 50%;
}
.half_width h1{
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    margin-bottom: 16px;
}
.half_width p{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 26px;
}

.half_width img {
    
    width: 440px;
    height: 414px;
    
}
.btn{
    
    text-decoration: none;
    padding: 10px 24px;
    color: white;
    background: #E02C6D;
    border-radius: 41px;
    text-align: center;
    

}
.btn .fas{
    margin-left: 8px;
    text-align: center;
   
}

/* brand photos  */
.brand{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
    border-top: 1px solid rgb(226, 226, 226);
    padding: 36px;
    border-bottom: 1px solid rgb(226, 226, 226);
    margin-top: 100px;
}
/* brand end  */

/* collection start  */
.container{
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid{
    margin-top: 100px;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    /* justify-content: space-around; */
   
    
}

.product{
    width: 295px;
    height: 476px;
    padding: 16px;
    margin: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.product img{
    width: 100%;
}
.product_name{
    font-weight: 500;
    font-size: 28px;

}
.product_price{
    font-size: 24px;
    line-height: 150%;
}
.product_deteails{
    font-weight: bold;
    font-size: 14px;
    line-height: 143%;
}
.product .fas{
    color: #FB8200;
}
.btn_see_more{
    text-decoration: none;
    color: #E02C6DDE;
    float: right;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px; 
    text-align: center;
    
}
.btn_see_more .fas{
    margin-left: 8px;
}
/* collection end  */
/* brand  */
.brand{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
.brand img{
    padding: 10px;
}

/* last container  */
.last_conatiner{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    align-items: center;
    width: 100%;
    
    

}
.half_width4{
    width: 55%; 
    padding: 20px;
    
    
}
.half_width4 h1{
    font-weight: bold;
    margin-top: 0;
    font-size: 38px;
    line-height: 60px;
    
}
.half_width4 p{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 16px;
}

.half_width4 img {
    
    width: 404px;
    height: 270px;
}
.join_btn{
    margin-top: 16px;
    text-decoration: none;
    padding: 10px 24px;
    color: white;
    background: #E02C6D;
    
    text-align: center;
    

}
.join_btn .fas{
    margin-left: 8px;
    text-align: center;
   
}

/* footer style  */
footer{
    margin-top: 100px; 
    height: 239px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0A0826;
}
.iteams{
    
    text-align: center;
}
.iteams p{
    
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin: 3px;
}
.iteams div i{
    margin: 8px;
    border: 1px solid white;
    padding: 5px;
    background: gray;
    border-radius: 50%;
}

 /*Any Mobile Device*/
 
 /*Tablets Device*/
@media only screen and (max-width: 768px) { 

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    
    nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    nav ul li{
        margin: 10px;
    }
    .first_conatiner{
       margin: 10px;
       padding: 0;
       display: flex;
       flex-direction: column;
       width: 100%;
   }
   main{
       margin: 0;
       padding: 0;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }

    .half_width{
        width: 100%;
        
    }
    .half_width2{
        display: grid;
        place-items: center;
    }
    .half_width2 img{
        
        margin: 0;
        padding: 10px;
       width: 450px;
       height: 450px;
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
       
    }
    .half_width p{
        text-align: center;
    }
    
   
   
   .infulencer_ditals{
       order: 1;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;

   }
   .infulencer_ditals h1{
       font-weight: bold;
   font-size: 28px;
   line-height: 42px;
   
   }

  
   .last_conatiner{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;

   }





    .grid{
        margin-top: 100px;
       
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        /* justify-content: space-around; */


       
        
    }
}
@media only screen and (max-width: 480px) {
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    
    nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    nav ul li{
        margin: 10px;
    }
    .first_conatiner{
       margin: 10px;
       padding: 0;
       display: flex;
       flex-direction: column;
       width: 100%;
   }
   main{
       margin: 0;
       padding: 0;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }

   .half_width2{
        display: grid;
        place-items: center;
    }
    .half_width p{
        text-align: center;
    }
    .half_width2 img{
        
        margin: 0;
        padding: 10px;
        width: 350px;
       height: 350px;
       text-align: center;
    }
   
   
   .infulencer_ditals{
       order: 1;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;

   }
   .infulencer_ditals h1{
       font-weight: bold;
   font-size: 28px;
   line-height: 42px;
   
   }

   .grid{
       display: grid;
       margin-top: 100px;

       grid-template-columns: repeat(1, 1fr);
       place-items: center;
       /* justify-content: space-around; */
      
       
   }
   .last_conatiner{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;

   }
 }





